<section class="program container">
    <div class="">
        <div class="program-text-wrap">
            <h2 class="program-title">Program</h2>
            <p class="program-text">
                Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!
            </p>
            <ul class="program-list">
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">A stand up history of donuts</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">Make 3 donut flavors of your choice</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">Enjoy all-you-can-eat donuts</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">Cocktail pairings and coffee included</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">Photoshoot by professional photographer</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">Secret receipt of cooking from Eva</p>
                </li>
                <li class="program-item">
                    <svg class="program-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-untitled"></use>
                    </svg>
                    <p class="program-item-text">All products are included in the price</p>
                </li>
            </ul>
            <a href="" class="program-link">Read more</a>

            <p class="program-desk">
                Come with your dear people and friends and you will spend an unforgettable
                time and will become a real professional in donuts cooking!
            </p>
        </div>
        <div class="program-list-wrap">
            <ul class="program-list-img">
                <li class="program-img-item">
                    <picture class="img-progrm">
                        <source media="(min-width: 1280px)" srcset="
              ./img/program1-desk-1x.png 1x,
              ./img/program1-desk-2x.png 2x
            " type="image/png" />

                        <source media="(min-width: 768px)"
                            srcset="./img/program1-tab-1x.png 1x, ./img/program1-tab-2x.png 2x" type="image/png" />

                        <source media="(max-width: 767px)"
                            srcset="./img/program1-mob-1x.png 1x, ./img/program1-mob-2x.png 2x" type="image/png" />
                        <img class="program-img" src="./img/program1-desk-1x.png" alt="people" width="288" height="288"
                            loading="lazy" />
                    </picture>
                </li>
                <li class="program-img-item">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="
              ./img/program2-desk-1x.png 1x,
              ./img/program2-desk-2x.png 2x
            " type="image/png" />

                        <source media="(min-width: 768px)"
                            srcset="./img/program2-tab-1x.png 1x, ./img/program2-tab-2x.png 2x" type="image/png" />

                        <source media="(max-width: 767px)"
                            srcset="./img/program2-mob-1x.png 1x, ./img/program2-mob-2x.png 2x" type="image/png" />
                        <img class="program-img" src="./img/program2-desk-1x.png" alt="people" width="288" height="288"
                            loading="lazy" />
                    </picture>
                </li>
            </ul>
            <ul class="program-list-img">
                <li class="program-img-item">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="
              ./img/program3-desk-1x.png 1x,
              ./img/program3-desk-2x.png 2x
            " type="image/png" />

                        <source media="(min-width: 768px)"
                            srcset="./img/program3-tab-1x.png 1x, ./img/program3-tab-2x.png 2x" type="image/png" />

                        <source media="(max-width: 767px)"
                            srcset="./img/program3-mob-1x.png 1x, ./img/program3-mob-2x.png 2x" type="image/png" />
                        <img class="program-img" src="./img/program3-desk-1x.png" alt="people" width="288" height="288"
                            loading="lazy" />
                    </picture>
                </li>
                <li class="program-img-item">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="
              ./img/program4-desk-1x.png 1x,
              ./img/program4-desk-2x.png 2x
            " type="image/png" />

                        <source media="(min-width: 768px)"
                            srcset="./img/program4-tab-1x.png 1x, ./img/program4-tab-2x.png 2x" type="image/png" />

                        <source media="(max-width: 767px)"
                            srcset="./img/program4-mob-1x.png 1x, ./img/program4-mob-2x.png 2x" type="image/png" />
                        <img class="program-img" src="./img/program4-desk-1x.png" alt="people" width="288" height="288"
                            loading="lazy" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>