.program {
  background-image: url(../img/program-mob.png);
  background-repeat: no-repeat;
  padding-top: 11px;
}
.program-text-wrap {
  margin-bottom: 24px;
}
.program-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}
.program-text {
  font-size: 16px;
  margin-bottom: 8px;
}
.program-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.program-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.program-item-text {
  font-size: 16px;
}
.program-link {
  font-weight: 500;
  font-size: 16px;
  color: #3c322d;
}
.program-desk {
  display: none;
}
.program-list-wrap {
  display: flex;
  gap: 20px;
}
.program-list-img {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 50%;
}
.program-list-img-second {
  padding-top: 20px;
}
.program-img-item,
.program-img-item-second {
  border: 1px solid #f3848c;
  border-radius: 100%;
  width: 130px;
  height: 130px;
}
.program-img-item {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -15px -12px;
  padding-top: 62px;
}
.program-img-item-first:first-child {
  background-image: url(../img/program1-mob-1x.png);
}
.program-img-item-first:nth-child(2) {
  background-image: url(../img/program3-mob-1x.png);
}

.program-img-item-second:first-child {
  background-image: url(../img/program2-mob-1x.png);
}
.program-img-item-second:nth-child(2) {
  background-image: url(../img/program4-mob-1x.png);
}
.program-img-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}
.program-img-subtitle {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
